<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
 rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"  crossorigin="anonymous">
 <ion-header class="ion-no-border">
  <ion-toolbar>
   
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    
        
    
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  
  <div class="contact-wrap">
    <div class="contact-in">
      <h2>UPI: <span>9042494996@upi</span>
      </h2>
      
      <h1>Our Bank Details
      </h1>
      <h2>Account Holder Name:<span>M. John Manuel</span>
      </h2>
      
      <h2>Account Number	:<span>30241622809</span>
      </h2>
      
      <h2>Name of the Bank	:	<span>State Bank of India</span>
      </h2>
      <h2>Bank Branch	:	<span>Vilangudi, Madurai</span>
      </h2>
      <h2>IFSC	:<span>SBIN0013158</span></h2>
      </div>
      </div>
             
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Indian Churches Network</p>
  </ion-toolbar>
</ion-footer>