<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Quizes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [hidden]= 'isHidden' >
    <div class="container ion-margin-bottom">
      <div class="contact-wrap">
        <div class="contact-in">
    <p style="color: white;">No Quizes Found.</p>
    </div>
    </div>
    </div>
  </div>



  <div style="height:100%; width:100%" [hidden]= 'inputDisabled' >
    <iframe allowfullscreen [src]="g_url | safepipe :'resourceUrl'" height="100%" width="100%" frameBorder="0"></iframe>
  </div>  
</ion-content>