<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
 rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"  crossorigin="anonymous">
<ion-header class="ion-no-border">
  <ion-toolbar>
   
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    
        
    
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
 
  <div class="contact-wrap">
     <div class="contact-in">
       <h1>To telecast your program in our App and Web TV.</h1>
       <h2>Name</h2>
       <h3>M. John Manuel
       </h3>
       <h2>Phone</h2>
       <h3><ion-icon name="call" aria-hidden="true"></ion-icon>
        9042494996</h3>
       <h2>Email</h2>
       <p><ion-icon name="mail" aria-hidden="true"></ion-icon>
         indianchurchesnetwork@gmail.com</p>
         <h2>Website</h2>
       <p><a href="http://www.indianchurches.net"><ion-icon name="logo-web-component" aria-hidden="true"></ion-icon>
        http://www.indianchurches.net</a></p>
       <h2>Address</h2>
       <p><ion-icon name="home" aria-hidden="true"></ion-icon>
        Chokkalinga Nagar 1st Street,
      KoodalNagar,
    Madurai-625018 </p>
        <ul>
           <li><a href="https://www.facebook.com/icnetwork2018"><ion-icon name="logo-facebook" aria-hidden="true"></ion-icon>
           </a></li>
           <li><a href=" https://www.youtube.com/indianchurchesnetwork?sub_confirmation=1"><ion-icon name="logo-youtube" aria-hidden="true"></ion-icon>
           </a></li>
           <li><a href="https://twitter.com/churchesnetwork"><ion-icon name="logo-twitter" aria-hidden="true"></ion-icon>

           </a></li>
           <li><a href="https://www.instagram.com/indianchurchesnetwork"><ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
           </a></li>
        </ul>
     </div>
    
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Indian Churches Network</p>
  </ion-toolbar>
</ion-footer>