table, th, td {
    border: 1px solid black;
    margin: 5px;
    border-collapse: collapse;

  }

th, td {
  padding: 15px;
}
  .st1{
    margin: 10px;
    text-align:center;
  }
  td{
    margin: 5px;
  }