<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
 rel="stylesheet">
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Videos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container ion-margin-bottom">
    <div class="contact-wrap">
      <div class="contact-in">
    <h1>Videos</h1>
    
        <p>Subscribe our Youtube Channel,to get latest Videos.</p>

        <p class="ion-text-right"><a href="https://www.youtube.com/indianchurchesnetwork" onclick="window.open(this.href,'_self','location=yes');">
          
        Click here to see the Videos</a></p>
        </div>
      </div>
    </div>  </ion-content>

